# Question 1
Create a variable age and assign it the value 25 . Then print the value of
age along with its data type using the type() function.

In [4]:
age=25
print(age)
type(age)

25

int

# Question 2
Assign the number 12.5 to a variable price . Print both the variable and its
data type. Then assign the value 12 to the same variable and print its data
type again. What do you observe?

In [14]:
#1st condition
price1=12.5
print(price1)
print(type(price1))

#2nd condition 
price=12 
print(price)
print(type(price))

#The difference between this function is one of function as float function and 2nd one act as integer function

12.5
<class 'float'>
12
<class 'int'>

# Question 3
Create a variable is_raining and set it to True . Print the value of the variable
along with its type. Then set is_raining to False and print the new value and
type.

In [19]:
#condition 1
is_raining=True
print(is_raining)
print(type(is_raining))

#condition 2
is_raining=False
print(is_raining)
print(type(is_raining))

True
<class 'bool'>
False
<class 'bool'>

# Question 4
Create a variable my_name and store your full name in it as a string. Then
print the value of my_name using single quotes ' .

In [20]:
my_name=("Swaraj Ashok Kondhare")
print("'", my_name,"'")

' Swaraj Ashok Kondhare '

# Question 5
Write a Python program that asks the user for their name and age using the
input() function. Store the inputs in variables and print a sentence like
"Hello, [Name]! You are [Age] years old." Ensure you cast the age to a
integer.

In [7]:
Name=input("Entre Your Name")
Age= int(input("Entre your Age"))

print("Hello,",(Name),"! you are",Age,"years old")

Entre Your Name swaraj
Entre your Age 23

Hello, swaraj ! you are 23 years old

# Question 6
Create two variables x and y and assign them the values 10 and 3.5 ,
respectively. Print their values and types. Then, create a new variable
sum_xy and store the sum of x and y . Print the result and its type.

In [37]:
x=10
y=3.5

print (x,y)
print(type(x),type(y))

#condition 2
sum_xy=(x+y)
print(sum_xy)
type(sum_xy)

10 3.5
<class 'int'> <class 'float'>
13.5

float

# Question 7
Using the type() function, check and print the data type of the following:
45.0
"hello"
None
False

In [38]:
print(45.0)
print(type(45.0))
print("hello")
print(type("hello"))
print(None)
print(type(None))
print(False)
print(type(False))

45.0
<class 'float'>
hello
<class 'str'>
None
<class 'NoneType'>
False
<class 'bool'>

# Question 8
Write a Python program to print three strings "apple" , "banana" , and "cherry"
on the same line, separated by a space. Then modify the program to
separate the strings using a comma , instead of a space.

In [9]:
print("Apple","Banana","Cherry")
print("Apple","Banana","Cherry",sep=",")

Apple Banana Cherry
Apple,Banana,Cherry

# Question 9
Create a variable big_number and assign it a very large integer value (e.g.,
987654321987654321 ). Print the value and its type. What do you notice about
the size of the number?

In [42]:
big_number=987654321987654321
print(big_number)
type(big_number)

987654321987654321

int

# Question 10
Write a Python program that prints the result of multiplying two floats (e.g.,
2.5 and 3.7 ). Then check and print the data type of the result.

In [43]:
x=float(input())
y=float(input())

print(x*y)
type(x*y)

 2.3
 3.2

7.359999999999999

float